<div class="pfr-app-theme">
    <lib-top-navbar [title]="title" (logout)="onLogout()" [applications]="[]" [user]="user">
    </lib-top-navbar>

    <mat-sidenav-container class="app-root" fullscreen autosize>
        <mat-sidenav  #sidenav mode="side" opened="true" class="app-sidenav no-print">
            <lib-side-navbar [links]="links"></lib-side-navbar>
        </mat-sidenav>
        <mat-sidenav-content>
            <section class="app-layout" fxLayout="column" fxLayout.gt-sm="row">
                <div class="app-layout__content" id="app_content" fxFlex ngClass.gt-sm="gt-sm">
                    <!-- ROUTE CONTENT -->
                    <mat-card>
                        <mat-card-content>
                            <router-outlet></router-outlet>
                        </mat-card-content>
                    </mat-card>
                </div>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>