<div fxLayout="row" class="app-dashboard-container" fxLayoutAlign="center center">
  <div fxFlex="100%" align="center">
    <img class="logo" src="assets/gobii-logo.png" />
    <h1 class="heading">Genomic Open-source Breeding informatics initiative</h1>
    <h4 class="sub-heading">
      We are a team of developers, molecular breeders, statisticians, bioinformaticists and breeders with a rich experience in managing data and applying genomic technologies to improve breeding. We are the first large-scale public-sector effort with the goal to systematically apply high-density genotypic information to the breeding of staple crops in the developing world. Initially the focus is on rice, wheat, maize, sorghum and chickpea in South Asia and Sub-Saharan Africa. The genomic data management systems will include databases, imputation systems, and decision support tools for plant breeders.
    </h4>
  </div>
</div>