.app-dashboard-container {
    height: -webkit-fill-available;
  }
  
  .logo {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .heading {
    font-weight: 200;
    padding-bottom: 10px;
  }
  
  .sub-heading {
    width: 60%;
    text-align: center;
    font-weight: 300;
    padding: 10px;
  }
  
  .demo-spagetti {
    margin: 0;
    padding: 10px;
    border: 1px solid black;
    color: white;
    background-color: rebeccapurple;
    opacity: 0.5;
  }
  
  ::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 1);
  }
  